<center>
	<h1>Program For SI</h1>
<form action="/si/indexlogic" method="post">
  <input type="text" name="txtnum1" placeholder="Enter P"  />
  <br>
  <br>
  <input type="text" name="txtnum2" placeholder="Enter R"  />
  <br>
  <br>
 <input type="text" name="txtnum3" placeholder="Enter T"  />
 <br>
 <br>
  <input type="submit" name="btnsubmit" value="Calculate" />
  

</form>

</center>