<h1>Addition Program</h1>
<hr>
<form action="/si/silogic">
<br>
<input type="text" name="txtp" placeholder="enter P"  />
<br>
<br>
<input type="text" name="txtr" placeholder="enter R" />
<br>
<br>
<input type="text" name="txtt" placeholder="enter T" />
<br>
<br>
<input type="submit" name="btnsubmit" value="Calculate" />
<br>
</form>	


