<h1>Select Course</h1>
<hr>
<form action="/formdemo/checkboxdemo">
<input type="checkbox" name="c[]"  value="C"  />C
<br>
<input type="checkbox" name="c[]"  value="CPP" />CPP
<br>
<input type="checkbox" name="c[]"  value="DS" />DS
<br>
<input type="checkbox" name="c[]"  value="JAVA" />JAVA
<br>
<input type="checkbox" name="c[]"  value="PHP" />PHP
<br>
<input type="submit" name="btnsubmit" value="click" />
</form>	

<%= @a %>
