<form action="/formdemo/combodemo">
	<br>
<select name="course[]" multiple="true">

<option value="JAVA">JAVA</option>
<option value=".NET">.NET</option>
<option value="PHP">PHP</option>
<option value="iOS">iOS</option>
<option value="Android">Android</option>
</select>
<br>
<input type="submit" name="btnsubmit" value="Click" />

</form>

<%= @a %>