<form action="/formdemo/listdemo">
<select name="lstdata[]" multiple="true">
<option value="C">C</option>
<option value="CPP">CPP</option>
<option value="JAVA">JAVA</option>
<option value="PHP">PHP</option>
</select>
<br>
<input type="submit" name="btnsubmit" value="click" />
</form>

<%= @a %>