<h1>Select Course</h1>
<hr>
<form action="/formdemo/radiodemo">
<input type="radio" name="course"  value="C"  />C
<br>
<input type="radio" name="course"  value="CPP" />CPP
<br>
<input type="radio" name="course"  value="DS" />DS
<br>
<input type="submit" name="btnsubmit" value="click" />
</form>	

<%= @a %>