<form action="/formdemo/txtareademo" >
type comment
<br>	
<textarea rows="5" cols="15" name="txtcomment" >


</textarea>
<br>
<input type="submit" name="btnsubmit" value="Click" />

</form>

<%= @com  %>