<form action="/area/triangle" method="post">
<input type="text" name="txtbase" placeholder="enter base" />
<br>
<input type="text" name="txtheight" placeholder="enter height" />
<br>
<input type="submit" name="btnsubmit" value="calculate" />
</form>

<%= @area %>