<h1>Addition Program</h1>
<hr>
<form action="/operation/additionlogic">
<br>
<input type="text" name="txtnum1" placeholder="enter first number"  />
<br>
<br>
<input type="text" name="txtnum2" placeholder="enter second number" />
<br>
<br>
<input type="submit" name="btnsubmit" value="Addition" />
<br>
</form>	


