<center>
	<h1>Program For Addition</h1>
<form action="/operation/index" method="post">
  <input type="text" name="txtnum1" placeholder="Enter First Number" value="<%= @a %>" />
  <br>
  <br>
  <input type="text" name="txtnum2" placeholder="Enter Second number" value="<%= @b %>" />
  <br>
  <br>

  <input type="submit" name="btnsubmit" value="Add" />
  <input type="submit" name="btnsubmit1" value="Reset">

</form>
<br>
<br>
<input type="text" value="<%= @c %>" /> 
</center>